/*
Color Pallete

Kuning: FED049
Ijo/Biru muda: CFFDE1
Ijo Netral: 68B984
Ijo Tua: 3D5656

*/

body {
    background-color: #CFFDE1;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #68B984;
}

.navbar-links {
    display: flex;
    gap: 10px;
}

.navbar-links > a {
    font-weight: 600;
}

.navbar-links > a:hover {
    font-weight: bold;
}

.navbar-main {

    background-image: url('../public/img/logo-fik.png');
}

.carousel-item__image {
    height: 35vw;
    object-fit: cover;

}

main {
    background-color: #CFFDE1;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1, p, a {
    color: #3D5656;
}


.frame-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.tour-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

footer {
    background-color: #3D5656;
}


@media only screen and (min-width: 992px) {
    .desc {
        width: 80%;
        margin: auto;
    }
}