/*
Color Pallete

Oren FIK : E49625

*/

:root {
    --fik-color: #E49625;
    --orange-muda: #ff9a00;
    --orange-mid: #ff7400;
    --old-orange: #ff4d00;
    --red-orange: #ff0000;
}

body {
    background-color: #ffc977;
    font-family: 'Poppins', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    color: #333328;
}

.navbar-light .navbar-toggler {
    color: #333328;
    border-color: #333328;
}

.navbar {
    background-color: #E49625;
    border-bottom: 2px solid #ff7400;
}

.navbar-links {
    display: flex;
    gap: 10px;
}

.navbar-links > a {
    font-weight: 600;
}

.navbar-links > a:hover {
    font-weight: bold;
}

.carousel-item__image {
    height: 35vw;
    object-fit: cover;
}

main {
    background-color: #ffc977;
    margin-top: 1rem;
}

h1, a {
    color: #333328;
}

p {
    color: #333328;
}

.frame-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.tour-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

footer {
    background-color: #E49625;
    color: #333328;
}

ul > li {
    list-style: none;
}

@media only screen and (min-width: 992px) {
    .desc {
        width: 80%;
        margin: auto;
    }
}
